* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 3em;
  color: #ffb03b;
  line-height: 48px;
  display: inline;
}

h2 {
  font-size: 2em;
  color: #1695A3;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 1.5em;
  color: #1695A3;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  float: left;
}

.location-text {
  float: right;
}

.date-location {
  font-style: italic;
  font-size: 14px;
  color: #1695a3;
  line-height: 16px;
}

p {
  font-size: 16px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #eb7f00;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #e6e2af;
  line-height: 28px;
}

#skillsH3{
  color: #ffb03b;
}

.orange {
  background-color: #f5ae23;
}

.cyan-text {
  color: #acf0f2;
}

.yellow-text {
  color: #ffff9d;
  font-size: 1em;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

#header {
  background-color: #225378;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}

.text-upper {
  text-transform: uppercase;
}

#skills {
  font-size: 1.2em;
}

/* Styles for Navigation Menu */
#navMenu {
    background-color: #1695A3;
    border-top: 2px solid #ffb03b;
    border-bottom: 2px solid #ffb03b;
}

#navMenu.stick {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #225378;
}

#navMenu a {
  color: #FFF0A5;
  font-weight: 400;
  font-size: 1.2em;
}